/* 
    Created on : 24-ott-2016, 15.33.06
    Author     : Stefano
    Lab2 (File movie.css)
   File di stile del progetto della pagina rotten tomatoes, scritto secondo le specifiche fornite dal lab02_layout.docx
*/

/*spaecifica generale della pagina*/
body {
	background-image: url("http://courses.cs.washington.edu/courses/cse190m/11sp/homework/2/background.png");
	font-family: "Verdana","Tahoma",sans-serif;  
        margin: 0px; 
}

/* banner iniziale e titolo*/
#banner {
    background-image: url("http://www.cs.washington.edu/education/courses/cse190m/11sp/homework/2/bannerbg.png"); 
    height: 50px;
    width:  100%; 
    text-align: center;
    
   
}

h1 {
    text-align: center;
    font-size: 24pt;
    font-weight: bold; 
    font-family: "Tahoma","Verdana",sans-serif;
    text-shadow: 3px 3px  #999999;
    
}

/*corpo della pagina*/

#main{
    width: 800px;
    border-style:solid;
    margin: auto;
    border-width: 4px;
    border-radius: 10px 10px 10px 10px; 
    overflow: hidden;
}


#rottencmt{
   width:550px;
   
}

/*intestazione del corpo*/
#rottenimg{
     color:red;  
     font-size: 48px;
     height:83px; 
     font-weight: bold; 
     background-image: url("http://www.cs.washington.edu/education/courses/cse190m/11sp/homework/2/rbg.png");
     height: 83px;
    
}

.tretre{
    vertical-align: 15%;
}

/*parte dei dati del film */
#dati{
    float: right;
    background-color:  #A2B964;
    width:250px;
    font-family: "Arial", sans-serif; 
    font-size: 8pt; 
    font-weight: bold;
    line-height: 18pt;
}
#datatext{
    padding: 10pt;
}
ul{
    list-style-type: none;
     padding-left:0;
}

/*divisione in colonne*/
#column1{
    float: left;
    width: 47%; 
    margin-right: 1%;
    margin-left: 2%; 
}
#column2{
    float: right;
    width: 47%; 
    margin-left: 1%;
    margin-right: 2%;
}

/* blocchi commenti*/
.quote {
     font-weight: bold;
     font-size: 8pt; 
     background-color:#E8DC9B;
     border-style:solid;
     border-color: grey;
     border-width: 2px;
     border-radius: 10px 10px 10px 10px;
     padding: 8px;   
     overflow: hidden;
}

.qtimg{
    float:left;
    padding-right: 5px;
    
}

/* blocchi recensori*/
.rev{
    padding-bottom: 20pt;
    overflow: hidden;
}

.magazine{
    font-style: italic;
}

/*piè pagina*/
footer{
    clear:both;
    text-align: center; 
    background-color: #A2B964;
    margin: 0px;
    padding-bottom: 5px; 
}

/*link ai validatori*/
#valink{
    position: fixed;
    right:1px;
    bottom:1px;
    opacity: 0.5;

}

